:root{
  --main-color:#fff;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

}

.main-header{
  background: #4FB391;
  width: 100%;
  height:50px;
}

nav{
  position: absolute;
  left:0;
  top:0;
  width: 200px;
  top:50px;
  height:calc(100vh - 50px);
  background:#2D6653;
  transform:translateX(-100%);
  transition:.4s ease;
}

.navigation li{
  list-style:none;
  width: 100%;
  border-bottom: 1px solid rgba(255,255,255,.5);
}

.navigation a{
  color:var(--main-color);
  display: block;
  line-height:3.5;
  padding: 0 10px;
  text-decoration:none;
  transition:.4s ease;
}

.navigation a:hover{
  transform:translateX(10%);
}

#btn-nav{
  display: none;

}

#btn-nav:checked ~ nav{
  transform:translateX(0);
}

.btn-nav{
  color:var(--main-color);
  font-size:30px;
  position: absolute;
  left:0;
  top:0;
  cursor:pointer;
  padding:6.5px 15px;
  transition:.2s ease;
  background:rgba(0,0,0,.1);
  background-image: url('imagenes/menu.jpg');
  background-size: cover;
  background-position: center;
}

.btn-nav:hover{
  background:rgba(0,0,0,.3);
  background-size: cover;
  background-position: center;
  background-image: url('imagenes/menu2.jpg');
}


h1 {
  color: forestgreen;
  text-align: center;
  padding: 20px 0;
  background-image: url('imagenes/fondo5.jpg');
}

.submenu {
  display: none;
}

.navigation li:hover .submenu {
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  background: #2D6653;
  padding: 0;
}

.submenu li {
  width: 100%;
  border-bottom: 1px solid rgba(255,255,255,.5);
}

.submenu a {
  color: var(--main-color);
  display: block;
  line-height: 3.5;
  padding: 0 10px;
  text-decoration: none;
  transition: .4s ease;
}

.submenu a:hover {
  transform: translateX(10%);
}


 .formulario {
            display: none;
            position: absolute;
            top: 50px;
            right: 20px;
            background: #fefefe;
            padding: 20px;
            border: 1px solid #888;
            width: 300px;
        }

.formulario.visible {
            display: block;
        }

.formulario label,
.formulario input {
            display: block;
            margin-bottom: 10px;
        }

.formulario button {
            display: block;
            margin-top: 10px;
        }
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 800px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4FB391;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2D6653;
}

fieldset {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

legend {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.container {
    width: 500%;
    margin: 0 auto;
    padding: 20px;
}

.hidden {
    display: none !important;
}

.form-open {
    grid-template-columns: 1fr 1fr; /* Ajusta el diseño de la barra de menú y el formulario */
    overflow: hidden; /* Evita el desbordamiento del contenido */
}

/* Estilos para el formulario de seguimiento */
#seguimiento-form {
    grid-column: 2; /* Ajusta la posición del formulario */
    padding: 20px;
    background-color: #f0f0f0;
}